/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 16, 2022, 9:51:16 PM
    Author     : josemorales
*/

#fdcalendarsx {
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  word-break: break-word;
}

#fdcalendarsx table.month {
  border-collapse: collapse;
  background-color: transparent;
  border: none;
  margin: 0 auto;
  width: 100%;
  font-family: 'Ubuntu', verdana, arial, sans-serif;
}
#fdcalendarsx table.month td{
  border: none;
}
table.month tbody tr:nth-child(2) {
  background-color: #ebebeb;
}
#fdcalendarsx table.month tbody,
#fdcalendarsx table.month tfoot,
#fdcalendarsx table.month thead {
  border: none;
}
div.calyr h1,div.calyr h2,div.calmon h1,div.calmon h2 {
  text-transform: none;
}
div.calyr {
  float: left;
  text-align: center;
  font-size: 3vw;
}
div.calyr h1.title,div.calmon h1.title {
  font-size: 6vw;
  margin: 8vw 0 1vw 0;
}
div.calyr h1.subtitle,div.calmon h1.subtitle {
  font-size: 5.5vw;
  margin: 1vw 0 1vw 0;
}
div.calyr h2,div.calmon h2 {
  font-size: 4.0vw;
}
div.calyr a {
  text-decoration: none;
  color: #14688b;
  font-weight: normal;
  font-size: 2.7vw;
}
div.calmain {
  float: left;
  margin: 6vw 0 6vw 0;
}
#fdcalendarsx table.month th {
  text-align: center;
  /*padding-bottom: 5px;*/
  padding: 0 0 0 0;
}
#fdcalendarsx table.month td {
  color: #666666;
  padding: 0.2vw 0.4vw 0.2vw 0.4vw;
  white-space: nowrap;
}
#fdcalendarsx table.month td {
  text-align: right;
}
#fdcalendarsx div.calyr td.wno {
  font-style: italic;
  font-weight: normal;
  color: #b3b3b3;
  font-size: 2.5vw;
  padding-right: 1vw;
}
#fdcalendarsx table.month td.redday {
  color: #d42b2b;
}
#fdcalendarsx table.month td.boldd a {
  color: #353664;
  font-weight: bold;
  cursor: cell;
}
#fdcalendarsx table.month td.bluday {
  color: #2f32ab;
}
div.calyrmo {
  float: left;
  text-align: right;
  width: 49%;
  margin-top: 2vw;
  padding-left: 2%;
}
table.dates-descriptions  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
table.dates-descriptions tbody td.day.redday {
  color: #353664;
  font-weight: bold;
  padding-right: 0.5vw;
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
  font-size: 1rem;
}
table.dates-descriptions tbody td.month.redday {
  color: #353664;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  font-size: 1rem;
  white-space: nowrap;
  padding: 10px 0px 10px 10px;
}
table.dates-descriptions tbody td.desc {
  text-align: left;
  font-size: 1rem
}
.ds8country_dp {
  height: auto;
  padding: 6px 10px;
  float: left;
}
div.calyrmo:nth-of-type(even) {
  padding-left: 2%;
  padding-right: 0;
}
div.calyrmo:nth-of-type(odd) {
    padding-left: 0;
    padding-right: 0;
    clear: both
}
div.calyr table.month {
  margin-left: auto;
  margin-right: auto;
}
div.calmon {
  float: left;
  text-align: center;
  font-size: 3vw;
}
div.calmon p {
  font-size: 3vw;
  padding: 0;
  margin: 0;
}
div.calmon {
  width: 100%;
}
table.calmon {
  float: left;
  width: 90%;
  margin-left: 5%;
  margin-top: 5vw;
  margin-bottom: 8vw;
}
table.calmon td {
  border: 1px solid #a0a0a0;
  padding: 2px;
}
table.calmon td.wkno {
  width: 10%;
  padding: 2px 10px 2px 10px;
  font-weight: bold;
}
table.calmon td.dayno {
  width: 10%;
  text-align: right;
  padding: 2px 10px 2px 10px;
}
table.calmon td.wday {
  width: 20%;
  text-align: left;
  padding: 2px 10px 2px 10px;
}
table.calmon td.descr {
  text-align: left;
  padding: 2px 10px 2px 10px;
  font-style: italic;
}
div.calmon td.redday {
  color: #d42b2b;
}
div.calmon td.bluday {
  color: #14688b;
}
div.calmon tr.wend td.dayno,div.calmon tr.wend td.wday,div.calmon tr.wend td.descr {
  background: #f0f0f0;
}
@media (min-width: 590px) {
  #fdcalendarsx table.month {
    margin: 0;
  }
  .ds8country_dp {
    padding: 6px 20px;
  }
  div.calyrmo,div.calyrmo:nth-of-type(even) {
    width: 50%;
    padding: 0 0px 0px 2%;
  }
  div.calmain {
    float:none
  }
  div.calyrmo:nth-of-type(odd) {
    padding-left: 2%;
  }
  div.calyrmo:nth-of-type(3n) {
    /*padding-right: 4vw;*/
  }
  div.calyrmo:nth-of-type(3n+1) {
    padding-left: 2%; /*4vw*/
  }
  div.calyr {
    font-size: 1.8vw;
  }
  div.calyr a {
    font-size: 1.7vw;
  }
  table.month td {
    padding: 1px 2px 2px 2px;
    padding: 0.1vw 0.2vw 0.1vw 0.2vw;
  }
  #fdcalendarsx div.calyr td.wno {
    font-size: 1.5vw;
  }
}

@media (min-width: 926px) {
  #fdcalendarsx table.month {
    margin: 0;
  }
  table.dates-descriptions {
    font-size: 16px;
  }
  table.dates-descriptions tbody td.day.redday {
    width: 60px;
  }
  table.dates-descriptions tbody td.month.redday {
    width: 15%;
  }
  div.calmain {
    float: left;
    margin: 70px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
  }
  div.calyrmo,div.calyrmo:nth-of-type(even) {
    width: 50%;
    padding: 0 0px 0px 2%;
  }
  #fdcalendarsx div.calyr, #fdcalendarsx div.calyr a {
    font-size: 16px;
  }
  div.calyrmo h4 {
    color: #353664;
    margin-top: 5px;
  }
  div.calyr a {
    font-size: 16px;
  }
  #fdcalendarsx table.month td {
    padding: 5px;
  }
  #fdcalendarsx div.calyr td.wno {
    font-size: 12px;
  }
  div.calyr h1.title,div.calmon h1.title {
    font-size: 50px;
    margin: 70px 0 0 0;
  }
  div.calyr h1.subtitle,div.calmon h1.subtitle {
    font-size: 40px;
    margin: 10px 0 0 0;
  }
  div.calyr h2,div.calmon h2 {
    font-size: 30px;
    margin: 10px 0 0 0;
  }
  div.calyrmo {
    margin-top: 10px;
    padding: 0 0 0 2%;
  }
  div.calyrmo:nth-of-type(3n+1) {
    /*padding-left: 60px;*/
  }
  div.calyrmo:nth-of-type(3n) {
    /*padding-right: 60px;*/
  }
  table.calmon {
    width: 810px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1180px) {
  #fdcalendarsx table.month td{

  }
  div.calyrmo, div.calyrmo:nth-of-type(even) {
    width: 33.3%;
  }
}

.ds8pagination {
  display: inline-block;
  width: 100%;
  padding: 0 3% 0 2%
}
.ds8pagination .prev {
  float: right;
}
.ds8pagination .next {
  float: right;
  margin-left: 10px;
}
.fddays {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 3% 0 2%
}
.fddays h2 {
  font-size: 22px;
  background-color: #353664;
  color: #fff;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 4px 0px;
  text-align: center;
}
.fddays p {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.fddays p span {
  color: #353664;
  font-weight: bold;
}

.prev a, .next a {
  padding: 5px 20px;
  display: inline-block;
  color: #FFFFFF!important;
  background-color: #353664;
  border-radius: 5px;
}
.prev a:hover, .next a:hover {
  background-color: #4343d6;
}
table.month tbody tr th {
  background-color: #353664;
}
table.month tbody tr th h4{
  color: #fff;
  text-transform: capitalize;
}
div.calyrmo h4 {
  margin-top: 5px;
  margin-bottom: 4px;
}
#fdcalendarsx table.month td.wdt {
  font-weight: bold;
}
.fdtooltip, #fdcalendarsx div.calyr a.fddate {
  text-decoration: underline;
}

select.filtercat, select.fdtable-ajax, select.ds8country_dp {
line-height: 2;
color: #2c3338;
border-color: #8c8f94;
box-shadow: none;
border-radius: 3px;
padding: 0 24px 0 8px;
min-height: 30px;
max-width: 10rem;
-webkit-appearance: none;
background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
background-size: 16px 16px;
cursor: pointer;
vertical-align: middle;
}

select.filtercat, select.fdtable-ajax, select.ds8country_dp {
  max-width: 10rem;
}

@media screen and (min-width: 375px) {
    select.filtercat, select.fdtable-ajax, select.ds8country_dp {
      max-width: 12rem;
    }
}